.todoscontainer{
    display: flex;
    background-color: lightgray;
    margin: 10px;
    width:50%;
    height: 40px;
    flex-direction: row;
    justify-content: space-around;
   
}
.checkBox{
    width: 20px;
    height: 20px;
    align-self: center;
}
.todoText{
    font-size: 28px;
    align-self: center;
}
.DeltedButton{
    background-color: rgb(255, 22, 22);
    font-size: 15px;
    color:black;
    width:80px;
    height: 30px;
    align-self: center;
    border: none;
    border-radius: 20px;

}